.get {
	margin-bottom: 0.5em;
	background-color: #D6EAD6;
}

.post {
	margin-bottom: 0.5em;
	background-color: #EBF7FA;
}

.put {
	margin-bottom: 0.5em;
	background-color: #FEEACD;
}

.delete {
	margin-bottom: 0.5em;
	background-color: #F0C8C7;
}